input, button {
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    margin: 5px;
}

#blank-div {
    flex-grow: 1;
}

#chat-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#messages {
    flex: 1;
    padding-bottom: 90px;
}

#chat-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #1D252A;
    border-radius: 0;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: none;
    z-index: 1;
}

#chat-input input {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    background-color: white;
    appearance: none;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

#chat-input #send-button {
    height: 50px;
    flex: 0 0 auto;
    margin-left: 10px;
}

#input-field,  #send-button {
    text-decoration: none;
    margin: 0;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

input:focus {
  outline: none;
}

#messages {
    width: calc(80% + 40px);
    margin: auto;
    max-width: 640px;
}

.user-message {
    background-color: #394F36;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0 0 auto;
    width: max-content;
    text-align: left;
    max-width: calc(70%);
}

.baymax-message {
    background-color: #36454F;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0 auto 0;
    width: max-content;
    height: max-content;
    text-align: left;
    max-width: calc(70%);
}

#clear-button {
    background-color: #B22222;
    color: white;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 0;

}

#clear-button:hover {
    background-color: #8B0000;
}